body {

    background-repeat: repeat-x;
    background-size: cover;
    background-position: center center;
}

.bold-text {
    font-weight: bold;
    font-size: 22px;
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    background-color: rgba(242, 242, 242, .92);
    font-size: 17px;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
    font-size: 20px;
}

.btn-google:hover {
    background-color: #b8050c;
}

body,
html {
    height: 90%;
}